/**
*   变量css文件
*     普通变量  $name:val
*     对象  $name:(key:val) => 获取对象中的值 map-get(obj , key)
*     
*     颜色对象->文字和背景色
*     字体对象-> 基础字体大小变量，常用比例 => 基础字体*比例=常用字体，这样以后更改基础字体就能更改字体效果\
*            ->  常见字体大小对象 => 以后更改对象，所有都可以改变 
*     space对象 -> margin/padding
*     space-size对象 -> 常用的几种margin/padding值
*     方向对象 -> 上下左右
*             =>  通过上述对象的几种结合方式，
*/

$color: (
  "white": #ffffff,
  "black": #000000,
  "primary": #389cf0,
  "green": #6be2b1,
  "yellow": #eeb17a,
  "orange": #ffae14,
  "red": #ff3300,
  "tit": #343434,
  "info": #9a9a9a,
  "gray": #f5f9fd,
  "border": #cecece,
);
$border-color: map-get($color, "border");
$border-width: 1px;

$base-font-size: 14px;
$font-size: (
  "xxs": 20px,
  "10": 24px,
  "12": 28px,
  "14": 32px,
  "15": 34px,
  "16": 36px,
  "20": 44px,
  "xl": 40px,
  "xll": 44px,
);
$line-height: (
  "1": 1,
  "1.5": 1.5,
  "2": 2,
);

$space-types: (
  m: margin,
  p: padding,
);
$space-size: (
  0: 0px,
  1: 5px,
  2: 10px,
  3: 15px,
  4: 20px,
  5: 25px,
  6: 30px,
  7: 35px,
  8: 40px,
);
$direction: (
  t: top,
  b: bottom,
  l: left,
  r: right,
);

$pos: (
  rel: relative,
  fix: fixed,
  abs: absolute,
);

// flex justify-content
$jus: (
  start: flex-start,
  end: flex-end,
  cen: center,
  between: space-between,
  around: space-around,
);

// flex align-items
$align: (
  str: stretch,
  start: flex-start,
  end: flex-end,
  cen: center,
);

$over: (
  hide: hidden,
  auto: auto,
  scroll: scroll,
);
